# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=fitscore
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/fitscore?schema=public

# Auth.js
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=changeme

# Resend API para envio de emails
RESEND_API_KEY=re_sua-api-key-aqui

# E-mails de negócio
LEGAL_MANAGER_EMAIL=gestor@exemplo.com

# Worker Cron Config
SINCE_HOURS=24
